@model LoginModel
<h2>Login</h2>
<form asp-action="Login" method="post">
    <input asp-for="Username" placeholder="Username" /><br />
    <input asp-for="Password" placeholder="Password" /><br />
    <button type="submit">Login</button>
</form>